---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Diciembre 2023",
    title: "Caquetá Travel",
    description:
      "He adquirido habilidades en la gestión de contenidos, la configuración de módulos y la personalización de temas. trabajando en la actualización y mantenimiento de la plataforma caquetá.travel, asegurando su funcionamiento óptimo y la seguridad de los datos. También he colaborado en la creación de nuevas secciones y funcionalidades, siguiendo las necesidades del cliente y las mejores prácticas de diseño web.",
    link: "www.linkedin.com/in/karolina-segura-020418180",
  },
  {
    date: "Abril 2022",
    title: "Proyectos Personales",
    description:
      "Creación y desarrollo de aplicaciones web. Diseño de interfaces de usuario, Programación del lado del cliente y del servidor, Gestión de datos.",
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
