---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Abril 2023",
    title: "Analista De Información",
    description:
    "Apoyé en la transformación de datos en información significativa que respalda las estrategías y decisiones empresariales. En definitiva, se establecieron requisitos en la soluciones de activos de la información de acuerdo con estándares y procedimientos técnicos.",
    link: "www.linkedin.com/in/karolina-segura",
  },
  {
    date: "Septiembre 2022",
    title: "Proyectos Personales - Aprendizaje y desarrollo",
    description:
      "Creación y desarrollo de aplicaciones web. Diseño de interfaces de usuario, Programación del lado del cliente y del servidor, Gestión de datos.",
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
