---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Abril 2023",
    title: "Analista De Información",
    description:
      "Establecer requisitos de la solución de tecnologías de la informacion y las comunicaciones de acuerdo con estándares y procedimientos técnicos. Elaboración de metodología e instrumento de levantamiento de activos de información, Validar activos de información en el instrumento levantado en la vigencia anterior entre otros",
    link: "www.linkedin.com/in/karolina-segura-020418180",
  },
  {
    date: "Septiembre 2022",
    title: "Prácticas Sena - Aprendizaje y desarrollo",
    description:
      "Creación y desarrollo de aplicaciones web. Diseño de interfaces de usuario, Programación del lado del cliente y del servidor, Gestión de datos.",
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
